div.everything{
    text-align: center

}
h1.title {
    text-align: center;

}
ul.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CDD7D8
}
li.bar-text{
floa
}

div.slogan {
    text-align: center
}
p.intro {
    text-align: center


}
div.first-image {
    text-align: center
}
h2.offer-title {
    text-align: center
}
h3.web-dev-title{
    text-align: center
}
div.web-dev-intro{
    text-align: center
}
ul.web-design-list{
    text-align: left
}
h3.social-title{
    text-align: center
}
